<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 2</title>
</head>
<body>
<div class="container">
 <form method="POST">
    <div class="form-group"  >
        <label for="nombre1">Nombre 1:</label>
        <input type="text" value="{{nombres.nombre1}}" name="nombre1"/>
    </div>
    <div class="form-group">
         <label for="nombre2">Nombre 2:</label>
        <input type="text" value="{{nombres.nombre2}}" name="nombre2" />
    </div>
    <div class="form-group">
         <label for="nombre3">Nombre 3:</label>
        <input type="text" value="{{nombres.nombre3}}" name="nombre3" />
    </div>
    <div class="form-group"><input type="submit" value="Enviar"></div>
        </form>
    </div>
{% if maxNombre != '' %}
<label >El nombre con mayor cantidad de caracteres es: {{ maxNombre }}</label>
{% endif %}
{% if cantCaracteres > 0 %}
<label >El nombre contiene : {{ cantCaracteres }}</label>
{% endif %}
</body>
</html>